{% extends 'index.html' %}
{%  load static %}
{% block title %} all quizes {% endblock title%}
{% block content %}
<style>
  .responsive-bg {
    background-image: url("{% static 'images/bg3.png' %}");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   flex-direction: column;
   background-position: center center;   
   background-attachment: fixed;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: relative;
   flex: 1 0 auto;
  }
  
</style>
      <div class="responsive-bg mt-3">
      <h1 class="display-4 text-center text-white my-5 fw-bold">Quizes </h1>
      
      <form class="container d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <a class="btn btn-primary" type="submit">Search</a>
        
      </form>

      
         <div class=" container m-2"> 
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3"> 
              {% for quiz in quizzes %}
                <div class="col md-4"> 
                        <div class="card shadow-sm"> 
                        <div aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg" style="
                    height: 225px;
                    background:#292b38 no-repeat center center;
                    background-size: cover;"">
                        <title>Placeholder</title>
                        <div class="position-relative" style="height: 225px; background: url('{{ quiz.image.url }}') no-repeat center center; background-size: cover;">
                       <div class="position-absolute top-50 start-50 translate-middle text-white text-center w-100 px-2">
    <h5 class="fs-5">{{ quiz.title }}</h5>
  </div>
</div>
</div> <div class="card-body"> <p class="card-text">{{quiz.description}}</p>
                          <p>
                            no of questions : {{quiz.question_set.all|length}}
                          </p> <div class="d-flex justify-content-between align-items-center"> <div class="btn-group">   <a href="{% url 'quiz' quiz.id %}" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>  
                            </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div> </div>
                
               {% endfor %}
            </div>
            
            </div>
      </div>

      {% endblock content %}