{% extends 'index.html' %}
{% block title %}Contact Us{% endblock title %}
{% block content %}

<style>
    body {
        background-color: #292b38;
        color: #e2e8f0;
    }

    .contact-box {
        background-color: rgb(28, 37, 47);
        color: #e2e8f0;
        border-radius: 1rem;
        padding: 2rem;
    }

    .form-control {
        background-color: #253446;
        color: #e2e8f0;
        border: none;
    }

    .form-control::placeholder {
        color: #9ca3af;
    }

    .form-label {
        color: #dae4e8;
    }

    .btn-submit {
        background-color: #dae4e8;
        color: #1e2a38;
        font-weight: bold;
        border-radius: 25px;
    }

    .btn-submit:hover {
        background-color: #dae4e8;
        color: #ffffff;
    }

    .contact-heading {
        color: #dae4e8;
    }
</style>

<section class="py-5" style="background-color: #292b38">
    <div class="container mb-5 pb-5">
        <h1 class="display-4 text-center mb-4 contact-heading mt-5">Contact Us</h1>
        <p class="lead text-center mb-5" style="color: #cdd4e0;">
            Have questions, feedback, or just want to say hello? We’d love to hear from you.
        </p>

        <div class="row justify-content-center">
            <div class="col-md-6 contact-box shadow-lg">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" value="{{ request.user.username }}" class="form-control" readonly>

                    </div>

                    <div class="form-group mb-4">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" id="subject" name="subject" required class="form-control" placeholder="Enter subject">
                    </div>

                    <div class="form-group mb-4">
                        <label for="message" class="form-label">Message</label>
                        <textarea id="message" name="message" rows="5" required class="form-control" placeholder="Type your message..."></textarea>
                    </div>

                    <button type="submit" class="btn btn-submit w-100">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
