<style>
   .footer {
  background-color: #292b38; /* the cream tone from your UI */
            /* primary text */
  font-family: 'Segoe UI', sans-serif;
  flex-shrink: 0;
  
} 
.content a{
    text-decoration: none;
    color: white !important;
    /* width: 30px; */
    /* border: 2px solid var(--color); */
    padding: 5px;
    font-size: large;
    z-index: 10;
}
.content a:hover{
    font-size: x-large;
    font-weight: 700;
}

</style>
<footer class=" footer py-3  ">
    <ul class="nav justify-content-center  pb-3 mb-3" style="border-bottom: 2px solid #050c08;">
        <li class="nav-item content "><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item content "><a href="{% url 'about' %}" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item content "><a href="{% url 'blogs' %}" class="nav-link px-2 text-body-secondary">Blogs</a></li>
        <li class="nav-item content "><a href="{% url 'contact' %}" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item content "><a href="{% url 'terms_and_conditions' %}" class="nav-link px-2 text-body-secondary">Terms & Conditions</a></li>
        <li class="nav-item content "><a href="{% url 'downloads' %}" class="nav-link px-2 text-body-secondary">Downloads</a></li>
    </ul>
    <p class="text-center " style="color: rgb(130, 152, 203);">© 2025, PhishSnitch</p>
</footer>